# fly.toml app configuration file generated for fittrack-api on 2025-12-07T17:06:57-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fittrack-api'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'rolling'

[env]
  FLASK_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'

[[mounts]]
  source = "fittrack_db"
  destination = "/data"
